@using Microsoft.AspNetCore.Mvc.Localization
@using TelerikComponents.Localization
@inject IHtmlLocalizer<TelerikComponentsResource> L
<a class="btn" role="button" href="~/Account/Login"><i class="fa fa-sign-in mr-1"></i> @L["Login"]</a>
